@import url('https://fonts.googleapis.com/css?family=Exo:700&display=swap');
div {
  h3 {
    padding-top: 3vh;
    margin-bottom: 4vh;
    text-align: center;
    font-size: 7vw;
    font-family: 'Exo', sans-serif;
    font-weight: 700;
  }
  div {
    padding-bottom: 10vh;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3vh;
    position: relative;
    width: 90vw;
    height: 65vh;
  }
}
