@import url('https://fonts.googleapis.com/css?family=Exo:700&display=swap');
mat-toolbar {
  height: 15vh;
  width: 100%;
  mat-toolbar-row {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    svg {
      padding-top: auto;
      padding-bottom: auto;
      margin: 0;
      margin-left: 1.5vw;
      fill: white;
      width: 4vh;
    }
    span.name {
      padding-top: auto;
      padding-bottom: auto;
      padding-left: 0.7vw;
      font-size: 3vh;
      color: white;
      font-family: 'Exo', sans-serif;
      font-style: italic;
      font-weight: 700;
    }
    h1.number {
      padding-top: auto;
      padding-bottom: auto;
      font-size: 2.5vh;
      margin-left: auto;
      padding-right: 1.5vw;
      color: white;
    }
    span.ordinalSuffix {
      font-size: 1.5vh;
      margin-left: -0.2vw;
      color: white;
    }
  }
}
